params {
        readDIR = "data"
        outDIR = "results"
        sequencer = 'miseq'	
	
	reads = "$readDIR/*_R{1,2}*.fastq.gz"
    	primerDIR = "/wynton/home/eppicenter/aarandad/pipelines/ampseq_workflow/andres/fastas"
	fwd_primers = "$primerDIR/v4_fwd.fasta"
	rev_primers = "$primerDIR/v4_rev.fasta"

	amplicon_info = "/wynton/home/eppicenter/aarandad/pipelines/ampseq_workflow/andres/v4_amplicon_info.tsv"

	scriptDIR="/wynton/home/eppicenter/aarandad/pipelines/ampseq_workflow"
	
	
	
	// cutadapt parameters
	cutadapt_minlen = 125

}



profiles {
  conda {
    process.conda = '/wynton/home/eppicenter/aarandad/miniconda3/envs/cutadaptenv'
  }
 }


/*
process {

        executor = "sge"

        scratch = true

        stageInMode = "copy"

        stageOutMode = "move"

        errorStrategy = "retry"

        clusterOptions = '-l scratch=100G -S /bin/bash -o job.log -e job.err'

}

executor {

        queueSize = 1000

}

*/
/*
// keep trace
trace {

	enabled = true

	file = "$outDIR/trace.txt"

}



// keep report
report {

	enabled = true

	file = "$outDIR/report.html"

}

*/
