params {
        readDIR = "PATH TO fastqs"
        outDIR = "results"
        sequencer = 'nextseq'	
	
	reads = "$readDIR/*_R{1,2}*.fastq.gz"
    	primerDIR = "PATH TO ampseq_workflow/fastas"
	fwd_primers = "$primerDIR/v4_fwd.fasta"
	rev_primers = "$primerDIR/v4_rev.fasta"

	amplicon_info = "PATH TO ampseq_workflow/vX_amplicon_info.tsv"

	scriptDIR="PATH TO ampseq_workflow/R_code"
	
        QC_only = "T"	
	
	// cutadapt parameters
	cutadapt_minlen = 70

}


/*
profiles {
  conda {
    process.conda = 'PATH TO cutadaptenv'
  }
 }

