params {
        readDIR = "data"
        outDIR = "results"
        sequencer = 'miseq'	
	
	reads = "$readDIR/*_R{1,2}*.fastq.gz"
    	primerDIR = "PATH TO fastas"
	fwd_primers = "$primerDIR/v4_fwd.fasta"
	rev_primers = "$primerDIR/v4_rev.fasta"

	amplicon_info = "PATH TO vX_amplicon_info.tsv"

	scriptDIR="PATH TO ampseq_workflow/R_code"
	
	
	
	// cutadapt parameters
	cutadapt_minlen = 125

}



profiles {
  conda {
    process.conda = 'PATH TO envs/cutadaptenv'
  }
 }



process {

        executor = "sge"

        scratch = true

        stageInMode = "copy"

        stageOutMode = "move"

        errorStrategy = "retry"

        clusterOptions = '-l scratch=100G -S /bin/bash -o job.log -e job.err'

}

executor {

        queueSize = 1000

}
