params {
  readDIR = "/home/bpalmer/Documents/MAD4HATTER_example_data/22_0085_Test"
  outDIR = "/home/bpalmer/Documents/MAD4HATTER_example_data/results"
  sequencer = 'nextseq'	
  projDIR = "$HOME/Documents/GitHub/ampseq_workflow"
	
	reads = "$readDIR/*_R{1,2}*.fastq.gz"
	primerDIR = "$projDIR/fastas"
	fwd_primers = "$primerDIR/v4_fwd.fasta"
	rev_primers = "$primerDIR/v4_rev.fasta"

	amplicon_info = "$projDIR/vX_amplicon_info/v4_amplicon_info.tsv"

	scriptDIR="$projDIR/R_code"
	
  QC_only = "T"	
	
	// cutadapt parameters
	cutadapt_minlen = 70

}


profiles {
  conda {
    process.conda = "$HOME/miniconda3/envs/ampseq"
  }
 }

