params {
        readDIR = "/home/andres/Data/v1_test/data/raw_fastqs"	
	reads = "$readDIR/*_R{1,2}*.fastq.gz"
        
        primerDIR = "/home/andres/Data/ampseq_workflow/cutadapt_local/fastas"
	fwd_primers = "$primerDIR/v1_fwd.fasta"
	rev_primers = "$primerDIR/v1_rev.fasta"

	outdir = "/home/andres/Data/v1_test/results"

}

/*
// keep trace
trace {

	enabled = true

	file = "$outDIR/trace.txt"

}



// keep report
report {

	enabled = true

	file = "$outDIR/report.html"

}

*/
