params {
        readDIR = "data"	
	reads = "$readDIR/*_R{1,2}*.fastq.gz"
        
        primerDIR = "/wynton/home/eppicenter/aarandad/pipelines/ampseq_workflow/andres/fastas"
	fwd_primers = "$primerDIR/v3_fwd.fasta"
	rev_primers = "$primerDIR/v3_rev.fasta"

	outdir = "results"

}

/*
// keep trace
trace {

	enabled = true

	file = "$outDIR/trace.txt"

}



// keep report
report {

	enabled = true

	file = "$outDIR/report.html"

}

*/
