process {

  // resources for default process execution

  cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time   = { check_max( 30.m  * task.attempt, 'time'   ) }

  errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
  maxRetries    = 1
  maxErrors     = '-1'

  shell   = ['/bin/bash', '-euo', 'pipefail']
  penv    = 'smp'
 
  executor = 'local'
  cpus = 2
  memory = '8.GB'
  time = '4.h'
  errorStrategy = 'retry'
  maxRetries = 2
  queueSize = 50
  pollInterval = '100 ms'

  withLabel:process_single {
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time   = { check_max( 30.m * task.attempt, 'time'   ) }
  }

  withLabel:process_low {
    cpus   = { check_max( 2    * task.attempt, 'cpus'   ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time   = { check_max( 2.h  * task.attempt, 'time'   ) }
  }

  withLabel:process_medium {
    cpus   = { check_max( 4    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }

  withLabel:process_high {
    cpus   = { check_max( 6    * task.attempt, 'cpus'   ) }
    memory = { check_max( 12.GB * task.attempt, 'memory' ) }
    time   = { check_max( 8.h   * task.attempt, 'time'   ) }
  }
}
