process {

    // resources for default process execution

    cpus    = { check_max( 4    * task.attempt, 'cpus'   ) }
    memory  = { check_max( 8.GB * task.attempt, 'memory' ) }
    time    = { check_max( 30.m * task.attempt, 'time'   ) }
    shell   = ['/bin/bash', '-euo', 'pipefail']
    penv    = 'smp'

    // dada2_analysis process resources 
    withName: DADA2_ANALYSIS {
      time = { check_max( 600.m * task.attempt, 'time'   ) }
    }

    // dada2_postproc process resources
    withName: DADA2_POSTPROC {
      time = { check_max( 120.m * task.attempt, 'time'   ) }
    }
}   