/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     aarandad / ampseq_workflow Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
          Custom config options for institutions
----------------------------------------------------------------------------------------
*/

// NOTE: current configuration target Wynton at UCSF. You may change or erase this file as needed.

process {

    withName: 'DADA2_ANALYSIS' {
      time = '6000m'
      cpus = 4
      penv = 'smp'
      memory = '16 GB'
    }
}

executor {
  $sge {
      queueSize = 1000
      // pollInterval = '30sec'
  }
}

executor {
  $local {
      queueSize = 1000
      // pollInterval = '30sec'
  }
}
