/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     aarandad / ampseq_workflow Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
          Custom config options for institutions
----------------------------------------------------------------------------------------
*/

// NOTE: current configuration target Wynton at UCSF. You may change or erase this file as needed.

process {
    
    // process resources
    withName: 'cutadapt|qualitycheck' {
      time = '30m'
      cpus = 4
      penv = 'smp'
      memory = '8 GB'
    }
    withName: 'dada2_analysis' {
      time = '600m'
      cpus = 4
      penv = 'smp'
      memory = '8 GB'
    }
    withName: 'dada2_postproc' {
      time = '120m'
      cpus = 4
      penv = 'smp'
      memory = '8 GB'
    }
}

executor {
  $sge {
      queueSize = 1000
      // pollInterval = '30sec'
  }
}
