process {

    // quality check r instance
    withName: qualitycheck {
    	beforeScript = 'module load CBI r'
    }

    // dada2_analysis r instance
    withName: dada2_analysis {
      beforeScript = 'module load CBI r'
    }

    // dada2_postproc r instance
    withName: dada2_postproc {
      beforeScript = 'module load CBI r'
    }
}

executor {
  $sge {
      queueSize = 1000
      // pollInterval = '30sec'
  }
}
