params {
    pool_options {
        // MAD4HATTER 
        // Default pools 
        'D1' {
            amplicon_info_path = 'panel_information/D1.1/D1.1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/D1.1/D1.1_reference.fasta' 
        }
        'R1' {
            amplicon_info_path = 'panel_information/R1.2/R1.2_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/R1.2/R1.2_reference.fasta' 
        }
        'R2' {
            amplicon_info_path = 'panel_information/R2.1/R2.1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/R2.1/R2.1_reference.fasta' 
        }
        // Full versioned pools
        'D1.1' {
            amplicon_info_path = 'panel_information/D1.1/D1.1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/D1.1/D1.1_reference.fasta' 
        }
        'R1.1' {
            amplicon_info_path = 'panel_information/R1.1/R1.1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/R1.1/R1.1_reference.fasta' 
        }
        'R2.1' {
            amplicon_info_path = 'panel_information/R2.1/R2.1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/R2.1/R2.1_reference.fasta' 
        }
        'R1.2' {
            amplicon_info_path = 'panel_information/R1.2/R1.2_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/R1.2/R1.2_reference.fasta' 
        }
        // Legacy pool names 
        '1A' {
            amplicon_info_path = 'panel_information/D1.1/D1.1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/D1.1/D1.1_reference.fasta' 
        }
        '1B' {
            amplicon_info_path = 'panel_information/R1.1/R1.1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/R1.1/R1.1_reference.fasta' 
        }
        '2' {
            amplicon_info_path = 'panel_information/R2.1/R2.1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/R2.1/R2.1_reference.fasta' 
        }
        '5' {
            amplicon_info_path = 'panel_information/R1.2/R1.2_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/R1.2/R1.2_reference.fasta' 
        }
        'v1' {
            amplicon_info_path = 'panel_information/v1/v1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/v1/v1_reference.fasta' 
        }
        'v2' {
            amplicon_info_path = 'panel_information/v2/v2_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/v2/v2_reference.fasta' 
        }
        // OTHER PANELS
        '4cast' {
            amplicon_info_path = 'panel_information/4cast/4cast_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/4cast/4cast_reference.fasta' 
        }
        'ama1' {
            amplicon_info_path = 'panel_information/ama1/ama1_amplicon_info.tsv'
            targeted_reference_path = 'panel_information/ama1/ama1_reference.fasta' 
        }
        'AMPLseq' {
            amplicon_info_path = 'panel_information/AMPLseq/AMPLseq_info.tsv'
            targeted_reference_path = 'panel_information/AMPLseq/AMPLseq_reference.fasta'
        }
    }
    principal_resmarkers = "${baseDir}/panel_information/principal_resistance_marker_info_table.tsv"
}