params {
    pool_options {
        '1A' {
            amplicon_info_path = 'panel_information/1A/1A_amplicon_info.tsv'
            resistance_marker_table_path = 'nope'
            refseq_path = 'panel_information/1A/1A_reference.fasta'
        }
        '1B' {
            amplicon_info_path = 'panel_information/1B/1B_amplicon_info.tsv'
            resistance_marker_table_path = 'nope'
            refseq_path = 'panel_information/1B/1B_reference.fasta'
        }
        '2' {
            amplicon_info_path = 'panel_information/2/2_amplicon_info.tsv'
            resistance_marker_table_path = ''
            refseq_path = 'panel_information/2/2_reference.fasta'
        }
    }
}
