// test.config
//
// This configuration is to be used with GitHub Actions

profiles {
    test {
        process {
          cpus = '2'
          memory = '1.GB'
          time = '1.h'
          maxRetries = 0

          withLabel:process_single {
            cpus   =  1  
            memory = 1.GB 
            time   = 30.m 
          }

          withLabel:process_low {
            cpus   = 1   
            memory = 1.GB 
            time   = 30.m  
          }

          withLabel:process_medium {
            cpus   = 1    
            memory = 1.GB 
            time   = 1.h 
          }

          withLabel:process_high {
            cpus   = 2    
            memory = 4.GB 
            time   = 1.h   
          }
        }
    }
}
