params {
        readDIR = "/home/isglobal.lan/ddatta/Runs/22_0085_Test"
        outDIR = "/home/isglobal.lan/ddatta/Projects/Pipeline/ampseq_workflow_dd/22_0085_Test4"
        sequencer = 'miseq'	
	
	reads = "$readDIR/*_R{1,2}*.fastq.gz"
        primerDIR = "/home/isglobal.lan/ddatta/Projects/Pipeline/ampseq_workflow_dd/fastas"
	fwd_primers = "$primerDIR/v4_fwd.fasta"
	rev_primers = "$primerDIR/v4_rev.fasta"
	amplicon_info = "/home/isglobal.lan/ddatta/Projects/Pipeline/ampseq_workflow_dd/v4_amplicon_info.tsv"

        scriptDIR="/home/isglobal.lan/ddatta/Projects/Pipeline/ampseq_workflow_dd/V4"
	
        QC_only = "F"	
	
	refSequences = "/home/isglobal.lan/ddatta/Projects/Pipeline/Data/RefSeq/v4/ALL_refseq.fa"
        pf3D7_index = "/home/isglobal.lan/ddatta/Projects/Pipeline/Data/RefSeq/v4/3D7_ampseq"
        codontable = "/home/isglobal.lan/ddatta/Projects/Pipeline/ampseq_workflow_dd/codontable.txt"
        resmarkers_amplicon = "/home/isglobal.lan/ddatta/Projects/Pipeline/ampseq_workflow_dd/resistance_markers_amplicon_v4.txt"
        
        samtoolsPATH = "/home/isglobal.lan/ddatta/software/samtools-1.15.1/bin/samtools"
        bcftoolsPATH = "/home/isglobal.lan/ddatta/software/bcftools-1.15.1/bin/bcftools"
        bwaPATH = "/home/isglobal.lan/ddatta/software/bwa-0.7.17/bwa"
	
	// cutadapt parameters
	cutadapt_minlen = 70

}



profiles {
  conda {
    process.conda = '/home/isglobal.lan/ddatta/miniconda3/envs/cutadaptenv'
  }
 }


/*
// keep trace
trace {

	enabled = true

	file = "$outDIR/trace.txt"

}



// keep report
report {

	enabled = true

	file = "$outDIR/report.html"

}

*/
