params {
	
	reads = "data/raw_fastqs/*_R{1,2}*.fastq.gz"

	fwd_primers = "/wynton/home/eppicenter/aarandad/pipelines/ampseq_worflow/fastas/v3_fwd.fasta"

	rev_primers = "/wynton/home/eppicenter/aarandad/pipelines/ampseq_worflow/fastas/v3_rev.fasta"

	outdir = "results"

}

/*
	Wynton Specific Process Config
*/

process {

	executor = "sge"

	scratch = true

	stageInMode = "copy"

	stageOutMode = "move"

	errorStrategy = "terminate"

	clusterOptions = '-l scratch=100G -S /bin/bash -o job.log -e job.err'

}

executor {

	queueSize = 1000

}

// keep trace
trace {

	enabled = true

	file = "${params.outdir}/trace.txt"

}

// keep report
report {

	enabled = true

	file = "${params.outdir}/report.html"

}
